
body {
    background-color: beige;       
}

main {
    display: inline-block;
}


.headpic {
    margin-left: 590px;
}

header {
    display: flex;
    justify-content: flex-end;
    background-color: var(--color3);
    height: var(--header-height);
    box-shadow: var(--shadow);
}

footer {
    display: flex;
    justify-content: flex-end;
    background-color: var(--color3);
    box-shadow: var(--shadow);
}


h2 {
    font-size: 1.8rem;
    font-weight: bold;
    text-align: center;
}


h4 {
    font-family: bold;
    margin-left: 490px;
    
}

.normaltext {
    margin-left: 200px;
    margin-right: 200px;
    font-size: 20px;
    
}

.paratitle {
    font-family: bold;
    margin-left: 200px;
    

}

.lists {
    display: list-item;
   margin-bottom: 50px;
}


ol li {
        list-style: decimal;
        list-style-position: inside;
        margin-left: 590px;
        margin-bottom: 25px;
}
    

ul li {
    list-style: inside;
    display:list-item;
    margin-left: 590px;
    margin-bottom: 25px;
    }

#quizbutton {
    background-color: lightcyan;
    color: blue;
    text-align: center;
    font-size: 30px;
    height: 100px;
    width: 200px;
    cursor: pointer;
    border: solid blue 5px;
    margin-left: 590px;
    justify-content: center;
    align-items: center;
}

.gutter-right {
    margin-right: 20px;
}


header img {
    height: var(--header-height);
}

p {
    margin: var(--gutter);
    margin-bottom: 25px;
}
  
footer {
    position: fixed;
    width: 100%;
    bottom: 0;
    height: var(--footer-height);
    display: flex;
    justify-content: flex-end;
    background-color: var(--color3);
    box-shadow: var(--shadow);
}
  
  